<section class="admin_product_table table-responsive-sm w-100">
    <form class="form-inline my-2 my-lg-0 d-flex justify-content-end py-3">
        <input class="form-control mr-sm-2 " type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <div>
        <div class="thead-dark">
            <h4 class="p-5">Restaurants</h4>
        </div>
        <div class="">
            {{#checklength restaurants 0}}
            {{#each restaurants}}
            <div class="row p-2 d-flex-column justify-content-center align-items-center restaurant-details">
                <div class="col-12 col-sm-12 col-lg-2 d-flex-column justify-content-center align-items-center">
                    <div class="w-100 d-flex  justify-content-center">
                        <img class="" src="{{this.profile_pic}}"
                            style="width: 100px; height: 100px; border-radius: 50%;" alt="">
                    </div>
                    <h6 class="d-flex justify-content-center restaurant-name">
                        {{this.restaurant_name}}
                    </h6>
                </div>
                <div class="col-12 col-sm-12 col-lg-5  m-auto">
                    <div class="">
                        <h6>
                            {{this.email}}
                        </h6>
                    </div>
                    <div class="">
                        <h6>
                            {{#if this.phone}}
                            ph : {{this.phone}}
                            {{else}}
                            not availabe
                            {{/if}}
                        </h6>
                    </div>
                    <div>
                        <h6>
                            {{#if this.address}}
                            {{this.address}}
                            {{else}}
                            not availabe
                            {{/if}}
                        </h6>
                    </div>
                    <div>
                        <h6>
                            GSTIN :
                            {{#if this.gst_number}}
                            {{this.gst_number}}
                            {{else}}
                            not availabe
                            {{/if}}
                        </h6>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-lg-3 w-100 justify-content-start m-auto">
                    <div>
                        <h6>
                            request date : {{this.request_date}}
                        </h6>
                    </div>
                    <div>
                        <h6>
                            {{#if this.verified}}
                            email verified
                            {{else}}
                            email not verified
                            {{/if}}
                        </h6>
                    </div>
                    <div>
                        <h6>
                            {{#if this.profile_completed}}
                            profile completed
                            {{else}}
                            profile not completed
                            {{/if}}
                        </h6>
                    </div>

                    <div>
                        <h6>
                            total tables : {{this.tables.length}}
                        </h6>
                    </div>
                    <div>
                        <h6>
                            PAN :
                            {{#if this.pan_number}}
                            {{this.pan_number}}
                            {{else}}
                            not availabe
                            {{/if}}
                        </h6>
                    </div>
                </div>

                <div class="col-12 col-sm-12 w-100 col-lg-2 d-flex justify-content-center">
                    <button type="button" class=" text-white btn btn-danger w-75  ml-2" style="height: 40px;"
                        data-toggle="modal" data-target="#ban{{this._id}}">
                        ban
                    </button>
                </div>
            </div>
            <hr>
            <!-- Modal approve restaurant -->
            <div class="modal fade" id="ban{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">confirm</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h6>approve this restaurant</h6>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>
                            <button type="button" class="btn btn-primary"
                                onclick="banRestaurant('{{this._id}}')">confirm</button>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
            {{else}}
            <div class="d-flex justify-content-center align-items-center">
                <div class="d-flex justify-content-center align-items-center w-75 alert alert-warning" role="alert">
                    no new restaurants found
                </div>
            </div>
            {{/checklength}}
        </div>
    </div>
</section>

<style>
    .seats {
        display: flex;
        flex-wrap: wrap;
    }

    .restaurant-details:hover {
        background-color: rgba(239, 239, 239, 0.444);
        cursor: pointer;
    }

    .restaurant-details>div>div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .table {
        margin-top: 20px;
    }

    .table:hover {
        background-color: rgb(244, 244, 244);
        cursor: pointer;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.17);
    }

    .seat {
        width: max-content;
        background-color: rgba(237, 237, 237, 0.411);
        padding: 10px;
        border-radius: 5px;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 10px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.182);
    }

    .seat>small {
        font-size: small;
    }

    small {
        font-size: medium;
    }
</style>
<script>
    const baseUrl = window.location.origin
    function banRestaurant(restaurantId) {
        fetch(`${baseUrl}/admin/ban-restaurant/${restaurantId}`, {
            method: "PUT"
        }).then((response) => response.json()).then((response) => {
            location.reload()
        }).catch(() => {
            alert("user not deleted")
        })
    }
</script>