{{!-- update tables --}}

<body>
    <div class="container tm-mt-big tm-mb-big">
        <div class="row service">
            <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
                <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                    <div class="d-flex justify-content-between align-items-center mb-">
                        <h4 class="text-right mt-5">add category</h4>
                    </div>
                    <form action="/admin/add-categories" method="post">
                        <div class="card w-100">
                            <div class="card-body row ">
                                <div class="col-md-8 ">
                                    <input type="text" class="form-control m-3" value="" name="category"
                                        placeholder="Enter the category">
                                </div>
                                <div class="col-md-3">
                                    <input type="submit" class=" btn btn-primary form-control w-100 m-3"
                                        value="add category">
                                </div>
                            </div>
                        </div>
                    </form>

                    <table class="table mt-5 " >
                        <thead class="thead-dark">
                            <tr>
                                <th class="col-3" scope="col">No</th>
                                <th class="col-3" scope="col">category</th>
                                <th class="col-3" scope="col">visibility</th>
                                <th class="col-3" scope="col">Handle</th>
                            </tr>
                        </thead>
                        <tbody class="">
                            {{#each categories}}
                            <tr id="category{{this._id}}" class=" " >
                                <th scope="row">{{inc @index}}</th>
                                <td>{{this.category}}</td>
                                <td>{{this.visibility}}</td>
                                <td class="d-flex">
                                    <div id="visibility_button{{this._id}}">
                                        {{#if this.visibility}}
                                        <div class="mr-5" style="cursor: pointer;"
                                            onclick="hideCategory('{{this._id}}')">
                                            <i class="fa-solid fa-eye"></i>
                                        </div>
                                        {{else}}
                                        <div class="mr-5" style="cursor: pointer;"
                                            onclick="showCategory('{{this._id}}')">
                                            <i class="fa-regular fa-eye-slash"></i>
                                        </div>
                                        {{/if}}
                                    </div>
                                    <div onclick="delteCategory('{{this._id}}')">
                                        <button type="button" class="btn btn-danger">Delete</button>
                                    </div>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- choose a theme file -->
<link rel="stylesheet" href="/path/to/theme.default.css">
<!-- load jQuery and tablesorter scripts -->
<script type="text/javascript" src="/path/to/jquery-latest.js"></script>
<script type="text/javascript" src="/path/to/jquery.tablesorter.js"></script>

<!-- tablesorter widgets (optional) -->
<script type="text/javascript" src="/path/to/jquery.tablesorter.widgets.js"></script>


<script>

    function showCategory(id) {
        const url = window.location.origin;
        console.log(url)
        fetch(`${url}/admin/categories/change-visibility/${id}`, {
            method: 'PUT',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                visibility: true
            })
        }).then((res) => res.json()).then((response) => {
            new Toastify({
                text: response.message,
                duration: 800,
                gravity: "top", // `top` or `bottom`
                position: "right", // `left`, `center` or `right`
                stopOnFocus: true, // Prevents dismissing of toast on hover
                style: {
                    background: "orange",
                },
            }).showToast();
            setTimeout(() => {
                document.getElementById('visibility_button' + id).innerHTML =
                    `<div class="mr-5" style="cursor: pointer;" onclick="hideCategory('${id}')">
                        <i class="fa-solid fa-eye"></i>
                    </div>`

            }, 550)
        })
    }
    function hideCategory(id) {
        const url = window.location.origin;
        console.log(url)
        fetch(`${url}/admin/categories/change-visibility/${id}`, {
            method: 'PUT',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                visibility: false
            })
        }).then((res) => res.json()).then((response) => {
            new Toastify({
                text: response.message,
                duration: 500,
                gravity: "top", // `top` or `bottom`
                position: "right", // `left`, `center` or `right`
                stopOnFocus: true, // Prevents dismissing of toast on hover
                style: {
                    background: "orange",
                },
            }).showToast();
            setTimeout(() => {
                document.getElementById('visibility_button' + id).innerHTML =
                    `<div class="mr-5" style="cursor: pointer;" onclick="showCategory('${id}')">
                        <i class="fa-regular fa-eye-slash"></i>
                    </div>`

            }, 550)

        })
    }
    function delteCategory(id) {
        const url = window.location.origin;
        console.log(url)
        fetch(`${url}/admin/categories/delete-category/${id}`, {
            method: "DELETE"
        }).then((res) => res.json()).then((response) => {
            new Toastify({
                text: response.message,
                duration: 500,
                gravity: "top", // `top` or `bottom`
                position: "right", // `left`, `center` or `right`
                stopOnFocus: true, // Prevents dismissing of toast on hover
                style: {
                    background: "orange",
                },
            }).showToast();
            setTimeout(() => {
                location.reload()
            }, 500)

        })
    }
</script>
<style>
    .service input:not([type=submit]),
    .service textarea {
        color: black;
        border-radius: 5px;
        border: none;
        border: 0.2px solid rgba(0, 0, 0, 0.081);
        border-bottom: 1px solid rgba(95, 95, 95, 0.248);
        margin-top: 20px;
    }

    .service textarea::-webkit-scrollbar {
        display: none;
    }

    .service input:not([type=submit])::placeholder {
        color: rgba(108, 108, 108, 0.419);
    }

    .service label:not([for="file"]) {
        color: rgba(44, 44, 44, 0.704);
    }

    .service select {
        color: black;
        border-radius: 0;
        border: 1px solid rgba(95, 95, 95, 0.248);
        margin-top: 20px;
    }

    .service input:not([type=submit]):focus,
    .service textarea:focus,
    .service select:focus {
        border-bottom: 2px solid rgba(25, 151, 0, 0.8);
        box-shadow: none;
        outline: 0 none;
        background-color: transparent;
    }
</style>