<section class="admin_product_table container-fluid" style="height: 86vh
;">
    <div>
        <div class="thead-dark">
            <h4 class="p-5">new Restaurants</h4>
        </div>
        <div class="">
            {{#checklength restaurants 0}}
            <table class="table-responsive mt-5" id="myTable">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">name</th>
                        <th scope="col">email address</th>
                        <th scope="col">profile</th>
                        <th scope="col">email</th>
                        <th scope="col">profile status</th>
                        <th scope="col">address</th>
                        <th scope="col">gst</th>
                        <th scope="col">pan</th>
                        <th scope="col">phone</th>
                        <th scope="col">actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each restaurants}}
                    <tr id="restaurant{{this._id}}">
                        <th>{{inc @index 1}}</th>
                        <td>{{this.restaurant_name}}</td>
                        <td>{{this.email}}</td>
                        <td>{{#if this.profile_completed}}completed{{else}}not completed{{/if}}</td>
                        <td>{{#if this.verified}}verified{{else}}not verified{{/if}}</td>
                        <td>{{this.status}}</td>
                        <td>{{#if this.address}}
                            {{this.address}}
                            {{else}}
                            not available
                            {{/if}}
                        </td>
                        <td>
                            {{#if this.gst_number}}
                            {{this.gst_number}}
                            {{else}}
                            not available
                            {{/if}}
                        </td>
                        <td>
                            {{#if this.pan_number}}
                            {{this.pan_number}}
                            {{else}}
                            not available
                            {{/if}}
                        </td>
                        <td>
                            {{#if this.phone}}
                            {{this.phone}}
                            {{else}}
                            not available
                            {{/if}}
                        </td>
                        <td class="d-flex">
                            <button type="button" class="btn btn-danger mr-2">reject</button>
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                onclick="approveRestaurant('{{this._id}}')" data-target="#approve{{this._id}}">
                                approve
                            </button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

            {{else}}
            <div class="d-flex justify-content-center align-items-center">
                <div class="d-flex justify-content-center align-items-center w-75 alert alert-warning" role="alert">
                    no new restaurants
                </div>
            </div>
            {{/checklength}}
        </div>
    </div>

</section>
<script>
    $(document).ready(function () {
        $('#myTable').dataTable();
    });
</script>
<script>
    const baseUrl = window.location.origin
    function approveRestaurant(restaurantId) {
        new swal({
            title: "Approve Restaurant!",
            text: "confirm!",
            icon: "warning",
            buttons: {
                cancel: true,
                confirm: true
            },
        }).then((status) => {
            if (status) {
                fetch(`${baseUrl}/admin/approve-restaurant/${restaurantId}`, {
                    method: "POST"
                }).then((response) => response.json()).then(() => {
                    new swal({
                        title: "restaurant approved",
                        icon: "success",
                    }).then((status) => {
                        if (status) {
                            document.querySelector('#restaurant' + restaurantId).remove()
                        }
                    })

                }).catch(() => {
                    new swal({
                        title: "failed to update",
                        icon: "error",
                    })
                })
            }
        })
    }
    function rejectRestaurant(restaurantId) {
        fetch(`${baseUrl}/admin/ban-restaurant/${restaurantId}`, {
            method: "POST"
        }).then((response) => response.json()).then(() => {
            alert('RESTAURANT REJECTED')
            location.reload()
        }).catch(() => {
            alert("user not deleted")
        })
    }
</script>