<section class="admin_product_table table-responsive-sm">
    <form class="form-inline my-2 my-lg-0 d-flex justify-content-end py-3">
        <input class="form-control mr-sm-2 " type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <div>
        <div class="thead-dark">
            <h4 class="p-5">Restaurants</h4>
        </div>
        <div>

            {{#each restaurants}}
            <div class="row p-2 d-flex-column justify-content-center align-items-center">
                <div class="col-12 col-sm-12 col-lg-2 d-flex-column justify-content-center align-items-center">
                    <div class="w-100 d-flex  justify-content-center">
                        <img class="" src="{{this.profile_pic}}"
                            style="width: 100px; height: 100px; border-radius: 50%;" alt="">
                    </div>
                    <h6 class="d-flex justify-content-center">
                        {{this.restaurant_name}}
                    </h6>
                </div>
                <div class="col-12 col-sm-12 col-lg-2 w-100">
                    <div class="">
                        <small>
                            email : {{this.email}}
                        </small>
                    </div>
                    <div class="">
                        <small>
                            {{#if this.phone}}
                            {{this.phone}}
                            {{else}}
                            not availabe
                            {{/if}}
                        </small>
                    </div>
                    <div>
                        <small>
                            {{#if this.address}}
                            {{this.address}}
                            {{else}}
                            not availabe
                            {{/if}}
                        </small>
                    </div>
                    <div>
                        <small>
                            GSTIN :
                            {{#if this.gst_number}}
                            {{this.gst_number}}
                            {{else}}
                            not availabe
                            {{/if}}
                        </small>
                    </div>
                    <div>
                        <small>
                            PAN :
                            {{#if this.pan_number}}
                            {{this.pan_number}}
                            {{else}}
                            not availabe
                            {{/if}}
                        </small>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-lg-2 w-100 justify-content-start">
                    <div>
                        <small>
                            request date : {{this.request_date}}
                        </small>
                    </div>
                    <div>
                        <small>
                            {{#if this.verified}}
                            email verified
                            {{else}}
                            email not verified
                            {{/if}}
                        </small>
                    </div>
                    <div>
                        <small>
                            {{#if this.profile_completed}}
                            profile completed
                            {{else}}
                            profile not completed
                            {{/if}}
                        </small>
                    </div>

                    <div>
                        <small>
                            total tables : {{this.tables.length}}
                        </small>
                    </div>

                </div>
                <div class="col-12 col-sm-12 col-lg-2 w-100  d-flex justify-content-center align-items-center">
                    <div class="w-100">
                        <a type="button" class="text-primary btn btn-link" data-toggle="modal"
                            data-target="#services{{this._id}}">
                            services
                        </a>
                        <a type="button" class="text-primary btn btn-link " data-toggle="modal"
                            data-target="#dishes{{this._id}}">
                            dishes
                        </a>
                        <a type="button" class="text-primary btn btn-link" data-toggle="modal"
                            data-target="#tables{{this._id}}">
                            tables
                        </a>
                    </div>
                </div>
                <div class="col-12 col-sm-12 w-100 col-lg-3 w-100 d-flex justify-content-center align-items-center">
                    <button type="button" class="w-50 text-white btn btn-danger ml-2" style="height: 40px;"
                        data-toggle="modal" data-target="#reject{{this._id}}">
                        reject
                    </button>
                    <button type="button" class="w-50 text-white btn btn-primary ml-2" style="height: 40px;"
                        data-toggle="modal" data-target="#reject{{this._id}}">
                        approve
                    </button>
                </div>
            </div>
            <hr>
            <!-- Modal services -->
            <div class="modal fade" id="services{{this._id}}" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">confirm</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {{#if this.service}}
                            {{#each this.services}}
                            <h6>{{this.title}}</h6>
                            <p>{{this.description}}</p>
                            {{/each}}
                            {{else}}
                            No service available now
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal table restaurant -->
            <div class="modal fade" id="tables{{this._id}}" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">confirm</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="seats">

                                {{#if this.tables}}
                                {{#each this.tables}}
                                <div class="seat">
                                    <small>table Number : <span>
                                            {{this.table_number}}
                                        </span>
                                    </small>
                                    <small>category : <span>
                                            {{this.category}}
                                        </span>
                                    </small>
                                    <small>tables : <span>
                                            {{this.total_table}}
                                        </span>
                                    </small>
                                    <small>chairs : <span>
                                            {{this.total_chair}}
                                        </span>
                                    </small>
                                </div>
                                {{/each}}
                                {{else}}
                                No tables available now
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal dishes restaurant-->
            <div class="modal fade" id="dishes{{this._id}}" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">confirm</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {{#if this.menu}}
                            {{#each this.menu}}
                            <div class="seat">
                                <small>product name : <span>
                                        {{this.product_name}}
                                    </span>
                                </small>
                                <small>price : <span>
                                        {{this.price}}
                                    </span>
                                </small>
                                <small>price : <span>
                                        {{this.stock}}
                                    </span>
                                </small>
                                <small>price : <span>
                                        {{this.description}}
                                    </span>
                                </small>
                            </div>
                            {{/each}}
                            {{else}}
                            no dishes availabe
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal approve restaurant -->
            <div class="modal fade" id="approve{{this._id}}" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">confirm</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h6>approve this restaurant</h6>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>
                            <button type="button" class="btn btn-primary"
                                onclick="approveRestaurant('{{this._id}}')">confirm</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal ban restaurant -->
            <div class="modal fade" id="reject{{this._id}}" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">confirm</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h6>approve this restaurant</h6>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>
                            <button type="button" class="btn btn-primary"
                                onclick="approveRestaurant('{{this._id}}')">confirm</button>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
           
        </div>
    </div>

</section>
<style>
    .seats {
        display: flex;
        flex-wrap: wrap;
    }

    .seat {
        width: max-content;
        background-color: rgba(237, 237, 237, 0.411);
        padding: 10px;
        border-radius: 5px;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 10px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.182);
    }

    .seat>small {
        font-size: small;
    }

    small {
        font-size: medium;
    }
</style>
<script>
    const baseUrl=window.location.href
    function approveRestaurant(restaurantId) {
        fetch(`${baseUrl}/admin/approve-restaurant/${restaurantId}`, {
            method: "POST"
        }).then((response) => response.json()).then(() => {
            location.reload()
        }).catch(() => {
        })
    }
</script>