<section class="restaurant-details">
    <div class="topsection">
        <div class="small-images">
            <img style="cursor: pointer;" src="{{restaurant.image1}}" id="image1" onclick="showImage('image1')"
                class="preview-image" alt="">
            <img style="cursor: pointer;" src="{{restaurant.image2}}" id="image2" onclick="showImage('image2')"
                class="preview-image" alt="">
            <img style="cursor: pointer;" src="{{restaurant.image3}}" id="image3" onclick="showImage('image3')"
                class="preview-image" alt="">
        </div>
        <div class="big-image" id="big-image-preview">
            <img src="{{restaurant.image1}}" alt="">
        </div>
        <div class="details">
            <h1 class="heading" style="font-variant: small-caps;">{{restaurant.name}}</h1>
            <h6 class="place">{{restaurant.address}}</h6>
            <p class="description">{{restaurant.description}}</p>
            <h6>{{restaurant.price}}/table</h6>
            <h6>Time: {{restaurant.time}}</h6>
            <div class="other-options">
                <a href="#services">Services</a>
                <a href="#rating">Review</a>
                <a href="{{restaurant.id}}/available_foods">Available Foods</a>
            </div>
        </div>
    </div>
    <div class="middle-section">
        <div id="services">
            {{#each restaurant.services}}
            <div class="service">
                <h6>{{this.title}}</h6>
                <p>{{this.description}}</p>
            </div>
            {{/each}}
        </div>
        <div class="review-section">
            <div id="rating">
                <div class="container">
                    <div class="row mt-20">
                        <div class="col-md-4 d-flex flex-column justify-content-center align-items-center">
                            <div class="rating-box">
                                <h1 class="pt-4">4.0</h1>
                                <p class="">out of 5</p>
                            </div>
                            <div>
                                <span class="fa fa-star star-active mx-1"></span>
                                <span class="fa fa-star star-active mx-1"></span>
                                <span class="fa fa-star star-active mx-1"></span>
                                <span class="fa fa-star star-active mx-1"></span>
                                <span class="fa fa-star star-inactive mx-1"></span>
                            </div>
                        </div>

                        <div class="col">
                            <span class="skill"><i class="fa fa-star"></i> 5 Star</span>
                            <div class="progress skill-bar ">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50"
                                    aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                                    <span class="skill"> <i class="val">25 reviews</i></span>
                                </div>
                            </div>
                            <span class="skill"><i class="fa fa-star"></i> 4 Star</span>
                            <div class="progress skill-bar">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="29"
                                    aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                                    <span class="skill"> <i class="val">25 reviews</i></span>

                                </div>
                            </div>
                            <span class="skill"><i class="fa fa-star"></i> 3 Star</span>
                            <div class="progress skill-bar">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="29"
                                    aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
                                    <span class="skill"> <i class="val">25 reviews</i></span>

                                </div>
                            </div>
                            <span class="skill"><i class="fa fa-star"></i> 2 Star</span>
                            <div class="progress skill-bar">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="29"
                                    aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                                    <span class="skill"> <i class="val">25 reviews</i></span>
                                </div>
                            </div>
                            <span class="skill"><i class="fa fa-star"></i> 1 Star</span>
                            <div class="progress skill-bar">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="29"
                                    aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                    <span class="skill"> <i class="val">25 reviews</i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="review">
                            <div class="review-profile">
                                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                                    alt="">
                                <div class="details">
                                    <h5>name</h5>
                                    <small>date</small>
                                </div>
                            </div>
                            <div class="review-content">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ex molestias
                                    mollitia, doloribus fugit exercitationem expedita perferendis, odit nisi ratione
                                    sapiente, quam debitis consequuntur dicta voluptatem dolor a obcaecati deleniti!</p>
                            </div>
                            <div class="review-like-dislike">
                                <div class="like">
                                    <i class="fa-solid fa-thumbs-up"></i>
                                </div>
                                <div class="dislike">
                                    <i class="fa-solid fa-thumbs-down"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
  
</style>
<link rel="stylesheet" href="/css/admin/restaurantPage.css">
<script>
    function showImage(id) {
        let thump = document.getElementById(id).src;
        document.getElementById('big-image-preview').innerHTML = `<img src=${thump} id="big-image-preview" alt="">`
    }
</script>