<section class="all_orders container-fluid">
    <section class="order-history">
        <div class="container-fluid my-5  d-flex  justify-content-center">
            <div class="card w-100">
                <div class="card-body  table-responsive">
                    <h4>restaurant/orders</h4>
                    <table class="table align-middle mb-0 bg-white text-dark" >
                        <thead class="bg-light ">
                            <tr>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Ordered items</th>
                                <th>Date</th>
                                <th>Status</th>
                                <th>Time</th>
                                <th>Tables</th>
                                <th>Action</th>
                            </tr>

                        </thead>
                        <tbody>
                            {{#each orders}}
                            <tr>
                                <td>{{this.user.username}}</td>
                                <td>{{this.user.email}}</td>
                                <td>{{this.user.phone}}</td>
                                <td>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" data-mdb-toggle="modal"
                                        data-mdb-target="#OrderedItems{{this._id}}">
                                        Items
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="OrderedItems{{this._id}}" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                    <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    {{#each this.menu}}
                                                    <span
                                                        style="min-width: 60px;min-height: 30px;display: flex;justify-content: center;align-items: center;"
                                                        class="badge rounded-pill badge-primary">{{this.product_name}}
                                                        <span class="badge badge-danger ms-2">{{this.quantity}}</span>
                                                    </span>
                                                    {{/each}}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-mdb-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </td>
                                <td>{{this.date}}</td>
                                {{#ifEquals this.status 'canceled'}}
                                <td>
                                    <span id="status{{this._id}}"
                                        class="badge badge-danger  bg-danger text-white">{{this.status}}</span>
                                </td>
                                {{/ifEquals}}
                                {{#ifEquals this.status 'pending'}}
                                <td>
                                    <span id="status{{this._id}}"
                                        class="badge badge-info  bg-info text-white">{{this.status}}</span>
                                </td>
                                {{/ifEquals}}
                                {{#ifEquals this.status 'delivered'}}
                                <td>
                                    <span id="status{{this._id}}"
                                        class="badge badge-success  bg-success text-white">{{this.status}}</span>
                                </td>
                                {{/ifEquals}}
                                {{#ifEquals this.status 'approved'}}
                                <td>
                                    <span id="status{{this._id}}"
                                        class="badge badge-success  bg-success text-white">{{this.status}}</span>
                                </td>
                                {{/ifEquals}}
                                <td>
                                    {{prettifyDate this.time}}
                                </td>
                                <td>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" data-mdb-toggle="modal"
                                        data-mdb-target="#tables{{this._id}}">
                                        Items
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="tables{{this._id}}" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                    <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    {{#each this.tables}}
                                                    <span
                                                        style="min-width: 60px;min-height: 30px;display: flex;justify-content: center;align-items: center;"
                                                        class="me-2 badge rounded-pill badge-primary">{{this.table_number}}
                                                        <span class="badge badge-danger ms-2">{{this.quantity}}</span>
                                                    </span>
                                                    {{/each}}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-mdb-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td id="actions{{this._id}}">
                                    {{#ifEquals this.status "pending"}}
                                    <div class="d-flex-column justify-content-center align-items-center">
                                        <button type="button" onclick="rejectOrder('{{this._id}}')"
                                            class="btn btn-primary mr-1">reject</button>
                                        <button onclick="approveOrder('{{this._id}}')" type="button"
                                            class="btn btn-danger mt-2 ">approve</button>
                                    </div>
                                    {{/ifEquals}}
                                    {{#ifEquals this.status "canceled"}}
                                    <div class="d-flex justify-content-center align-items-center">
                                        <button onclick="approveOrder('{{this._id}}')" type="button"
                                            class="btn btn-danger">approve</button>
                                    </div>
                                    {{/ifEquals}}
                                    {{#ifEquals this.status "approved"}}
                                    <div class="d-flex justify-content-center align-items-center ">
                                        <button type="button" onclick="rejectOrder('{{this._id}}')"
                                            class="btn btn-primary ">reject</button>
                                    </div>
                                    {{/ifEquals}}
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    {{!-- css file --}}
    <link rel="stylesheet" href="/css/restaurant/orders.css">
    {{!-- js file --}}
    <script src="/js/order.js"></script>
</section>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
<link rel="stylesheet" href="/css/user/paymentDetails.css">
<script>
    function approveOrder(orderId) {
        new swal({
            text: "Approve order?",
            icon: "warning",
            buttons: ["cancel", "confirm"]
        }).then((status) => {
            console.log(status)
            if (status) {
                fetch('/restaurant/' + orderId + '/approve-order', {
                    method: "PUT"
                }).then((res) => res.json()).then((res) => {
                    new swal({
                        text: "Order approved",
                        icon: "success",
                    }).then(() => {
                        document.getElementById("status" + orderId).innerText = "Approved"
                        document.getElementById("status" + orderId).classList.add("bg-success", "text-white")
                        document.getElementById("status" + orderId).classList.remove("bg-danger")
                        document.getElementById("actions" + orderId).innerHTML = ` <div class="d-flex justify-content-center align-items-center w-100">
                                        <button type="button" onclick="rejectOrder('${orderId}')"
                                            class="btn btn-primary mr-1">reject</button>
                                    </div>`

                    })
                })
            } else {
                new swal({
                    text: "Order not approved",
                    icon: "error",
                });
            }
        })
    }
    function rejectOrder(orderId) {
        new swal({
            text: "Reject order?",
            icon: "warning",
            buttons: ["cancel", "confirm"]
        }).then((status) => {
            console.log(status)
            if (status) {
                fetch('/restaurant/' + orderId + '/reject-order', {
                    method: "PUT"
                }).then((res) => res.json()).then((res) => {
                    new swal({
                        text: "Order canceled",
                        icon: "success",
                    }).then(() => {
                        document.getElementById("status" + orderId).innerText = "canceled"
                        document.getElementById("status" + orderId).classList.add("bg-danger", "text-white")
                        document.getElementById("actions" + orderId).innerHTML = `<div class="d-flex justify-content-center align-items-center w-100">
                                        <button onclick="approveOrder('${orderId}')" type="button"
                                            class="btn btn-danger">approve</button>
                                    </div>`
                    })
                })
            } else {
                new swal({
                    text: "Order not approved",
                    icon: "error",
                });
            }
        })
    }
    $(document).ready(function () {
        $('#table_id').DataTable({

        });
    });

</script>