<section class="all_orders container-fluid">
    <section class="order-history">
        <div class="container-fluid my-5  d-flex  justify-content-center">
            <div class="card w-100">
                <div class="card-body ">
                    <h4>restaurant/orders</h4>
                    <table id="table_id" class="display">
                        <thead>
                            <tr>
                                <th>Column 1</th>
                                <th>Column 2</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each cart}}
                            <tr>
                                <td>Row 1 Data 1</td>
                                <td>Row 1 Data 2</td>
                            </tr>
                            <tr>
                                <td>Row 2 Data 1</td>
                                <td>Row 2 Data 2</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    {{!-- <div class="row">
                        <div class="col">
                            <div class="media">
                                <div class="media-body my-auto text-right">
                                    <div class="order-card">
                                        <div class="user_details">
                                            <h6>vyhsnav p c</h6>
                                            <small>vyshnavpcnaravoor@gmail.com</small>
                                            <small>8086064478</small>
                                        </div>
                                        <div class="order_details">
                                            <small>Date: <span>14/09/2023</span></small>
                                            <small>Time: <span>12:30</span></small>
                                        </div>
                                        <div class="table_details">
                                            <small>Table with 2 chair: <span>2</span></small>
                                            <small>Table with 4 chair: <span>0</span></small>
                                            <small>Table with 6 chair: <span>1</span></small>
                                        </div>
                                        <div class="ordered_items">
                                            <small>Ordered Items</small>
                                            <small>
                                                <small class="show_ordered_item_button btn btn-link" type="button"
                                                    data-toggle="modal" data-target="#exampleModalLong{{this.id}}">
                                                    show items
                                                </small>
                                                <div class="modal fade" id="exampleModalLong{{this.id}}" tabindex="-1"
                                                    role="dialog" aria-labelledby="exampleModalLongTitle"
                                                    aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLongTitle">
                                                                    ordered items</h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                {{#each this.items}}
                                                                <div class="ordered_item">
                                                                    <small>{{this.name}}</small>
                                                                    <small>{{this.quantity}}</small>
                                                                </div>
                                                                {{/each}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </small>
                                        </div>
                                        <div class="approve_cancel_order">
                                            <input type="button" class="btn btn-danger" value="reject">
                                            <input type="button" class="btn btn-success" value="approve">
                                        </div>
                                    </div>
                                    <div class="order-card  my-auto flex-column flex-md-row">
                                        <div class=" my-auto flex-column align-items-center justify-content-center">
                                            <div
                                                class="sq align-self-center d-flex justify-content-center align-items-center">
                                                <img class="img-fluid  align-self-center" src="{{this.image2}}"
                                                    width="135" height="135" />
                                            </div>
                                        </div>
                                        <div class=" my-auto flex-column align-items-center justify-content-center">
                                            <h4 class="mb-0 d-flex justify-content-center align-items-center">
                                                {{this.user_name}}
                                            </h4>
                                            <h6 class="mb-0 d-flex justify-content-center align-items-center">
                                                {{this.email}} </h6>
                                        </div>
                                        <div class="  my-auto flex-column align-items-center justify-content-center">
                                            <h6 class="d-flex justify-content-center align-items-center">Date:
                                                <span>{{this.date}} </span>
                                            </h6>

                                            <h6 class="d-flex justify-content-center align-items-center">Time:
                                                <span>{{this.time}} </span>
                                            </h6>

                                            <h6 class="d-flex justify-content-center align-items-center">Tables: <span>2
                                                </span></h6>
                                            <h6 class="d-flex justify-content-center align-items-center">Chairs: <span>4
                                                </span></h6>
                                        </div>
                                        <div class="  my-auto">
                                            <h6 class="mb-0 d-flex justify-content-center align-items-center"> Ordered
                                                Items
                                            </h6>
                                            <h6 class="swiper d-flex justify-content-center align-items-center">
                                                <div class="swiper mySwiper ">
                                                    <div class="swiper-wrapper">
                                                        {{#each this.items}}
                                                        <div
                                                            class="swiper-slide d-flex justify-content-center align-items-center">
                                                            <p class="text-danger">{{this.name}}<span
                                                                    class="badge">{{this.quantity}}</span></p>
                                                            <br>
                                                        </div>
                                                        {{/each}}
                                                    </div>
                                                    <div class="buttons">
                                                        <div class="swiper-button-next">
                                                            <i class="fa-solid fa-angle-right"></i>
                                                        </div>
                                                        <div class="swiper-button-prev">
                                                            <i class="fa-solid fa-chevron-left"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </h6>
                                            <h6 class="mb-0 d-flex justify-content-center align-items-center">price :
                                                &#8377;{{this.price}}</h6>
                                            <div class="d-flex justify-content-around mt-3">
                                                <h6 class="admin-order-confirmation-button">
                                                    <a href="">
                                                        <button type="button"
                                                            class="btn btn-outline-danger">cancel</button>
                                                    </a>
                                                </h6>
                                                <h6 class="admin-order-confirmation-button ">
                                                    <a href="" class="">
                                                        <button type="button"
                                                            class="btn btn-outline-success">complete</button>
                                                    </a>
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> --}}
                    <hr>
                </div>
            </div>
        </div>
    </section>
    {{!-- css file --}}
    <link rel="stylesheet" href="/css/restaurant/orders.css">
    {{!-- js file --}}
    <script src="/js/order.js"></script>
</section>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>

<script>
    $(document).ready(function () {
        $('#table_id').DataTable({

        });
    });

</script>