<section class="all_orders container-fluid">
    <section class="order-history">
        <div class="container-fluid my-5  d-flex  justify-content-center">
            <div class="card w-100">
                <div class="card-body ">
                    <h4>restaurant/orders</h4>
                    <table id="table_id" class="display table-responsive">
                        <thead>
                            <tr>
                                <th>username</th>
                                <th>email</th>
                                <th>phone</th>
                                <th>ordered items</th>
                                <th>quantity</th>
                                <th>Date</th>
                                <th>status</th>
                                <th>time</th>
                                <th>tableS</th>
                                <th>action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each orders}}
                            <tr>
                                <td>{{this.user.username}}</td>
                                <td>{{this.user.email}}</td>
                                <td>{{this.user.phone}}</td>
                                <td>
                                    {{#each this.menu}}
                                    <span class="d-flex justify-content-center">{{this.product_name}}</span><br>
                                    {{/each}}
                                </td>
                                <td>
                                    {{#each this.menu}}
                                    <span class="d-flex justify-content-center">{{this.quantity}}</span><br>
                                    {{/each}}
                                </td>
                                <td>{{this.date}}</td>
                                <td id="status{{this._id}}">{{this.status}}</td>
                                <td>{{prettifyDate this.time}}</td>

                                <td>

                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary mr-1 w-100" data-toggle="modal"
                                        data-target="#exampleModal{{this._id}}">
                                        Show tables
                                    </button>


                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal{{this._id}}" tabindex="-1" role="dialog"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="selected-tables">
                                                        <h6 class="ml-3" style="font-variant: small-caps;">selected
                                                            tables</h6>
                                                        <div class="foods">
                                                            <div id="products" style="display: none;"
                                                                data-json="{{products}}"
                                                                onload="setJson('{{products}}')">
                                                            </div>
                                                            <input type="hidden" value="">
                                                            {{#each this.tables}}
                                                            <input type="text" name="table" value="{{this._id}}" hidden>
                                                            <small class="card m-3">Table number :
                                                                {{this.table_number}} <br> chair : {{this.chair}}
                                                                <br> table : {{this.table}} </small>
                                                            {{/each}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td id="actions{{this._id}}">
                                    {{#ifEquals this.status "pending"}}
                                    <div class="d-flex-column justify-content-center align-items-center">
                                        <button type="button" onclick="rejectOrder('{{this._id}}')"
                                            class="btn btn-primary mr-1 w-100">reject</button>
                                        <button onclick="approveOrder('{{this._id}}')" type="button"
                                            class="btn btn-danger w-100 mt-2">approve</button>
                                    </div>
                                    {{/ifEquals}}
                                    {{#ifEquals this.status "canceled"}}
                                    <div class="d-flex justify-content-center align-items-center w-100">
                                        <button onclick="approveOrder('{{this._id}}')" type="button"
                                            class="btn btn-danger w-100">approve</button>
                                    </div>
                                    {{/ifEquals}}
                                    {{#ifEquals this.status "approved"}}
                                    <div class="d-flex justify-content-center align-items-center w-100">
                                        <button type="button" onclick="rejectOrder('{{this._id}}')"
                                            class="btn btn-primary mr-1 w-100">reject</button>
                                    </div>
                                    {{/ifEquals}}
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    <hr>
                </div>
            </div>
        </div>
    </section>
    {{!-- css file --}}
    <link rel="stylesheet" href="/css/restaurant/orders.css">
    {{!-- js file --}}
    <script src="/js/order.js"></script>
</section>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
<link rel="stylesheet" href="/css/user/paymentDetails.css">
<script>
    function approveOrder(orderId) {
        new swal({
            text: "Approve order?",
            icon: "warning",
            buttons: ["cancel", "confirm"]
        }).then((status) => {
            console.log(status)
            if (status) {
                fetch('/restaurant/' + orderId + '/approve-order', {
                    method: "PUT"
                }).then((res) => res.json()).then((res) => {
                    new swal({
                        text: "Order approved",
                        icon: "success",
                    }).then(() => {
                        document.getElementById("status" + orderId).innerText = "Approved"
                        document.getElementById("actions" + orderId).innerHTML = ` <div class="d-flex justify-content-center align-items-center w-100">
                                        <button type="button" onclick="rejectOrder('{{this._id}}')"
                                            class="btn btn-primary mr-1 w-100">reject</button>
                                    </div>`

                    })
                })
            } else {
                new swal({
                    text: "Order not approved",
                    icon: "error",
                });
            }
        })
    }
    function rejectOrder(orderId) {
        new swal({
            text: "Reject order?",
            icon: "warning",
            buttons: ["cancel", "confirm"]
        }).then((status) => {
            console.log(status)
            if (status) {
                fetch('/restaurant/' + orderId + '/reject-order', {
                    method: "PUT"
                }).then((res) => res.json()).then((res) => {
                    new swal({
                        text: "Order canceled",
                        icon: "success",
                    }).then(() => {
                        document.getElementById("status" + orderId).innerText = "canceled"
                        document.getElementById("actions" + orderId).innerHTML = `<div class="d-flex justify-content-center align-items-center w-100">
                                        <button onclick="approveOrder('{{this._id}}')" type="button"
                                            class="btn btn-danger w-100">approve</button>
                                    </div>`
                    })
                })
            } else {
                new swal({
                    text: "Order not approved",
                    icon: "error",
                });
            }
        })
    }
    $(document).ready(function () {
        $('#table_id').DataTable({

        });
    });

</script>