<section class="all_orders container-fluid">
    <section class="order-history">
        <div class="container-fluid my-5  d-flex  justify-content-center">
            <div class="card w-100">
                <div class="card-body ">
                    <h4>restaurant/orders</h4>
                    <table id="table_id" class="display table-responsive">
                        <thead>
                            <tr>
                                <th>username</th>
                                <th>email</th>
                                <th>phone</th>
                                <th>ordered items</th>
                                <th>quantity</th>
                                <th>Date</th>
                                <th>status</th>
                                <th>time</th>
                                <th>chair for one table</th>
                                <th>total table</th>
                                <th>action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each orders}}
                            <tr>
                                <td>{{this.user.username}}</td>
                                <td>{{this.user.email}}</td>
                                <td>{{this.user.phone}}</td>
                                <td>
                                    {{#each this.menu}}
                                    <span class="d-flex justify-content-center">{{this.product_name}}</span><br>
                                    {{/each}}
                                </td>
                                <td>
                                    {{#each this.menu}}
                                    <span class="d-flex justify-content-center">{{this.quantity}}</span><br>
                                    {{/each}}
                                </td>
                                <td>{{this.date}}</td>
                                <td id="status{{this._id}}">{{this.status}}</td>
                                <td>{{prettifyDate this.time}}</td>
                                <td>{{this.chair}} </td>
                                <td>{{this.table}}</td>
                                <td>
                                    <div class="d-flex justify-content-center align-items-center">
                                        <button type="button" onclick="rejectOrder('{{this._id}}')"
                                            class="btn btn-primary mr-1">reject</button>
                                        <button onclick="approveOrder('{{this._id}}')" type="button"
                                            class="btn btn-danger">approve</button>
                                    </div>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    <hr>
                </div>
            </div>
        </div>
    </section>
    {{!-- css file --}}
    <link rel="stylesheet" href="/css/restaurant/orders.css">
    {{!-- js file --}}
    <script src="/js/order.js"></script>
</section>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>

<script>
    function approveOrder(orderId) {
        new swal({
            text: "Approve order?",
            icon: "warning",
            buttons: ["cancel", "confirm"]
        }).then((status) => {
            console.log(status)
            if (status) {
                fetch('/restaurant/' + orderId + '/approve-order', {
                    method: "PUT"
                }).then((res) => res.json()).then((res) => {
                    new swal({
                        text: "Order approved",
                        icon: "success",
                    }).then(() => {
                        document.getElementById("status" + orderId).innerText = "Approved"
                    })
                })
            } else {
                new swal({
                    text: "Order not approved",
                    icon: "error",
                });
            }
        })
    }
    function rejectOrder(orderId) {
        new swal({
            text: "Reject order?",
            icon: "warning",
            buttons: ["cancel", "confirm"]
        }).then((status) => {
            console.log(status)
            if (status) {
                fetch('/restaurant/' + orderId + '/reject-order', {
                    method: "PUT"
                }).then((res) => res.json()).then((res) => {
                    new swal({
                        text: "Order canceled",
                        icon: "success",
                    }).then(() => {
                        document.getElementById("status" + orderId).innerText = "canceled"
                    })
                })
            } else {
                new swal({
                    text: "Order not approved",
                    icon: "error",
                });
            }
        })
    }
    $(document).ready(function () {
        $('#table_id').DataTable({

        });
    });

</script>