<section class="w-100 admin_product_table table-responsive-sm" style="height: 85vh;">
    <div>
        <div class="thead-dark">
            <h4 class="p-5">products</h4>
        </div>
        <div>
            <table class="table-responsive-md mt-5" id="myTable">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">image</th>
                        <th scope="col">name</th>
                        <th scope="col">price</th>
                        <th scope="col">quantity</th>
                        <th scope="col">category</th>
                        <th scope="col">handle</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each products}}
                    <tr>
                        <th>{{inc @index 1}}</th>
                        <td>
                            <img src="{{this.menu.product_image}}" height="60px" alt="">
                        </td>
                        <td>{{this.menu.product_name}}</td>
                        <td>{{this.menu.price}}</td>
                        <td>{{this.menu.stock}}</td>
                        <td>{{this.category.category}}</td>
                        <td>
                            <button type="button" class=" text-white btn btn-danger w-75  ml-2" style="height: 40px;"
                                data-toggle="modal" onclick="banRestaurant('{{this._id}}')">
                                ban
                            </button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $('#myTable').dataTable();
    });
</script>