<link rel="stylesheet" href="path/to/intlTelInput.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
<section class="profile">
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-12 border-right ">
                <div class="p-3 py-5 w-100">
                    {{!-- user profile --}}
                    <div class=" row mt-2">
                        <div class=" col-md-12 d-flex justify-content-center align-items-center">
                            <label class="labels">{{err}}</label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">restaurant profile</h4>
                    </div>
                    <form action="/restaurant/profile/save-details" method="post" enctype="multipart/form-data">
                        {{!-- profile swiper --}}
                        <div class="swiper mySwiper">
                            <div class="swiper-wrapper mb-1">
                                {{#each restaurant.profile_pic}}
                                <div class="swiper-slide slide_1 w-100 d-flex justify-content-center"
                                    style="height: 300px;">
                                    <img class="img-fluid" src="{{this.url}}" alt="">
                                </div>
                                {{/each}}
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                        <div class="image-input row w-100">
                            <div class="col-md-12">
                                <input type="file" class="w-100" name="profile_pic" multiple>
                                <label class="labels">images</label>
                            </div>
                            {{!-- <div class="col-md-6 w-100 mt-1 ">
                                <a href="/restaurant/edit-picures/{{restaurant._id}}" class="w-100 btn btn-success">edit
                                    pictures</a>
                            </div> --}}
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <input required type="text" name="restaurant_name" class="form-control"
                                    placeholder="restaurant name" id="restaurant_name"
                                    value="{{restaurant.restaurant_name}}">
                                <label class="labels">name</label>
                            </div>
                            <div class="col-md-6">
                                <input required type="text" name="email" class="form-control"
                                    value="{{restaurant.email}}" id="restaurant_email" placeholder="email">
                                <label class="labels">email</label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <input required type="text" name="address" class="form-control"
                                    placeholder="restaurant name" id="restaurant_address"
                                    value="{{restaurant.address}}">
                                <label class="labels">address</label>
                            </div>
                            <div class="col-md-6">
                                <input required type="text" name="pincode" class="form-control"
                                    placeholder="restaurant name" id="restaurant_name" value="{{restaurant.pincode}}">
                                <label class="labels">pincode</label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">

                                <input required type="tel" name="phone" class="form-control" id="phone"
                                    placeholder="enter the phone number" value="{{restaurant.phone}}">
                                <label class="labels">phone</label>
                            </div>
                            <div class="col-md-6">
                                <input required type="text" class="form-control" value="{{restaurant.gst_number}}"
                                    name="gst_number" placeholder="GST identification number of restaurant ">
                                <label class="labels">gst in</label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12 form-group mb-3">
                                <textarea name="description" class="form-control validate" rows="10"
                                    placeholder="enter description...">{{restaurant.description}}</textarea>
                                <label for="description">Description</label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <input required type="text" name="opening_time" id="opening_time" class="form-control"
                                    value="{{restaurant.opening_time}}" placeholder="opening time">
                                <label class="labels">opening time</label>
                            </div>
                            <div class="col-md-6">
                                <input required type="text" name="closing_time" id="closing_time" class="form-control"
                                    value="{{restaurant.closing_time}}" placeholder="closing Time">
                                <label class="labels">closing time</label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <input required type="text" name="pan_number" class="form-control"
                                    value="{{restaurant.pan_number}}" placeholder="table">
                                <label class="labels">pancard</label>
                            </div>
                            <div class="col-md-6">
                                <input required type="password" name="password" class="form-control" value=""
                                    placeholder="confirm your password">
                                <label class="labels">password</label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <input required type="submit" class="mt-2 btn btn-outline-primary form-control"
                                    value="save details">
                            </div>
                        </div>
                    </form>
                    {{!-- table details --}}
                    <div class="d-flex justify-content-between align-items-center mt-5">
                        <h4 class="text-right">tables details</h4>
                    </div>



                    {{!-- update tables --}}
                    <form action="/restaurant/profile/update-tables" method="post">
                        <div class="row mt-5">
                            <div class="col-md-6">
                                <select name="category" id="chairType" onchange="changeChairCount()"
                                    class="form-select form-select-lg mb-3 w-100 p-2"
                                    aria-label=".form-select-lg example">
                                    <option selected>available tables</option>
                                    {{#each restaurant.tables}}
                                    <option value="{{this.chair}}">{{this.chair}} chair</option>
                                    {{/each}}
                                </select>
                                <label class="labels">update/add tables</label>
                            </div>

                            <div class="col-md-6">
                                <input required type="text" id="chair" class="form-control" value="" name="total_chair"
                                    placeholder="chair for one table">
                                <label class="labels">chair</label>
                            </div>
                            <div class="col-md-6">
                                <input required type="text" class="form-control" value="" name="total_table"
                                    placeholder="table">
                                <label class="labels">table</label>
                            </div>
                            
                        </div>
                        <div class="col-md-6">
                            <input required type="text" name="password" class="form-control" value=""
                                placeholder="confirm your password">
                            <label class="labels">password</label>
                        </div>
                        <div class="row mt-2">
                            {{!-- <div class="col-md-6">
                                <input required type="submit" class="mt-2 btn btn-success form-control"
                                    value="add table">
                            </div> --}}
                            <div class="col-md-6">
                                <input required type="submit" class="mt-2 btn btn-outline-primary form-control"
                                    value="save tables">
                            </div>
                        </div>
                    </form>
                    {{!-- change password --}}
                    <form action="/restaurant/update-password/{{restaurant._id}}" method="post">
                        <div class="mt-4 d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">change password</h4>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <input required type="password" class="form-control " name="currentPassword"
                                    placeholder="enter your current password" value="">
                                <label class="labels">current password</label>
                            </div>
                            <div class="col-md-6">
                                <input required type="password" class="form-control" value="" name="newPassword"
                                    placeholder="enter new password">
                                <label class="labels">new password</label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <input required type="password" class="form-control" name="confirmNewPassword"
                                    placeholder="confirm new password" value="">
                                <label class="labels">confirm new password</label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6 mt-2">
                                <input required type="submit" class=" btn btn-outline-primary form-control"
                                    value="change password">
                            </div>
                        </div>
                        <div class="mt-4 d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">delete account</h4>
                        </div>
                    </form>
                    <form action="/{{this._id}}/delete-account">
                        <div class="row mt-2">
                            <div class="col-md-6 d-flex-column">
                                <small class="text-danger">Deleting your account is a permanent action
                                    and cannot be undone. If you are sure you
                                    <label class="labels">confirm password</label><br>
                                    want to delete your account, select the button
                                    below.</small>
                                <input required type="text" class="form-control" placeholder="Confirrm Password"
                                    value="">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6 mt-2">
                                <input required type="submit" class=" btn btn-outline-primary form-control"
                                    placeholder="first name" value="confirm delete">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{{!-- swiper cdn --}}
<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
{{!-- telephone country code cdn --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/js/intlTelInput.min.js"
    integrity="sha512-+gShyB8GWoOiXNwOlBaYXdLTiZt10Iy6xjACGadpqMs20aJOoh+PJt3bwUVA6Cefe7yF7vblX6QwyXZiVwTWGg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/css/intlTelInput.css"
    integrity="sha512-gxWow8Mo6q6pLa1XH/CcH8JyiSDEtiwJV78E+D+QP0EVasFs8wKXq16G8CLD4CJ2SnonHr4Lm/yY2fSI2+cbmw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
    integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{{!-- time --}}
<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
{{!--
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> --}}
<script>
    $(document).ready(function () {
        $('#closing_time').timepicker();
    });
    var input = document.querySelector("#phone");
    const form = document.querySelector('form')
    const iti = window.intlTelInput(input, {
        utilsScript: 'https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/js/utils.min.js'
    })

    input.addEventListener('countrychange', (e) => {
        e.preventDefault()
        const phone = iti.getNumber();
        input.value = phone
        console.log(phone)

    })
</script>
<script>
    function deleteTable(tableId) {
        const div = document.getElementById("table" + tableId)
        const url = window.location.origin
        fetch(`${url}/restaurant/profile/delete-tables/${tableId}`, {
            method: "POST"
        }).then((res) => res.json()).then((response) => {
            if (response.status) {
                div.remove()
            } else {
                alert(response.message)
            }
        })
    }
    function changeChairCount() {
        const chairType = document.querySelector('#chairType')
        const chairCount = document.querySelector('#chair')
        console.log(chairCount)
        console.log(chairType)
        chairCount.value = chairType.value
    }
    var loadFile = function (event) {
        var image = document.getElementById("output");
        image.src = URL.createObjectURL(event.target.files[0]);
    };
    let swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        }
    });
</script>
<style>
    .table {
        width: 150px;
        font-size: 10px;
    }

    .table span {
        font-size: 10px;
    }

    .table h6 {
        font-size: 12px;
    }

    .iti {
        width: 100%;
        margin-top: 20px;
    }

    .profile input:not([type=submit]),
    .profile textarea {
        color: black;
        border-radius: 0;
        border: none;
        border-bottom: 1px solid rgba(95, 95, 95, 0.248);
        margin-top: 20px;
    }

    .profile textarea::-webkit-scrollbar {
        display: none;
    }

    .profile input:not([type=submit])::placeholder {
        color: rgba(108, 108, 108, 0.419);
    }

    .profile label:not([for="file"]) {
        color: rgba(44, 44, 44, 0.704);
    }

    .profile select {
        color: black;
        border-radius: 0;
        border: 1px solid rgba(95, 95, 95, 0.248);
        margin-top: 20px;
    }

    .profile input:not([type=submit]):focus,
    .profile textarea:focus,
    .profile select:focus {
        border-bottom: 2px solid rgba(25, 151, 0, 0.8);
        box-shadow: none;
        outline: 0 none;
        background-color: transparent;
    }

    .profile-pic {
        color: transparent;
        transition: all .3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        transition: all .3s ease;

    }

    .profile-pic>input {
        display: none;
    }

    .profile-pic>img {
        position: absolute;
        object-fit: cover;
        width: 165px;
        height: 165px;
        box-shadow: 0 0 10px 0 rgba(255, 255, 255, .35);
        border-radius: 100px;
        border: 1px solid black;
        background-image: url('https://cdn-icons-png.flaticon.com/512/149/149071.png');
        background-size: contain;
        z-index: 0;
    }

    .profile-pic>.-label {
        cursor: pointer;
        height: 165px;
        width: 165px;
    }

    .profile-pic:hover>.-label {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, .8);
        z-index: 10000;
        color: rgb(250, 250, 250);
        transition: background-color .2s ease-in-out;
        border-radius: 100px;
        margin-bottom: 0;
    }

    .profile-pic>span {
        display: inline-flex;
        padding: .2em;
        height: 2em;
    }

    body>a:hover {
        text-decoration: none;
    }
</style>