<section style="min-height: 75vh;" class="w-75 mt-5 d-flex-column justify-content-center align-items-center">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="text-right">services</h4>
    </div>
    <div class="w-100">
        <button></button>
    </div>
    <table class="table w-100 d-flex-column justify-content-center align-items-center" id="myTable">
        <thead class="thead-dark">
            <tr>
                <th scope="col">No</th>
                <th scope="col">title</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            {{#each services}}
            <tr id="table{{this._id}}">
                <th scope="row">{{inc @index 1 }}</th>
                <td>{{this.title}}</td>
                <td class="d-flex justify-content-center align-items-center">
                    <!-- Button trigger modal -->
                    <a href="/restaurant/edit-service/{{this._id}}">
                        <button class="btn btn-primary d-flex justify-content-center align-items-center"
                            style="height: 30px; width: 80px;">
                            Edit
                        </button>
                    </a>
                    <button onclick="deleteService('{{this._id}}')"
                        class="ml-1 btn btn-danger d-flex justify-content-center align-items-center"
                        style="height: 30px; width: 80px;">
                        Delete
                    </button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>
<script>
    $(document).ready(function () {
        $('#myTable').dataTable();
    });

</script>
<script>
    function deleteService(id) {
        new swal({
            title: "delete service",
            text: "are you sure",
            icon: "warning",
            buttons: ["cancel", "confirm"],
        }).then((status) => {
            if (status) {
                fetch("/restaurant/delete-service/" + id, {
                    method: "PUT"
                }).then((res) => res.json()).then((response) => {
                    new swal({
                        title: "delete service",
                        text: "are you sure",
                        icon: "success"
                    }).then(() => {
                        document.getElementById("table" + id).remove()
                    })
                })
            }
        })
    }
</script>