{{!-- <section style="min-height: 75vh;" class="mt-5 w-75 d-flex-colum">
  <div class="row">
    <div class="col-12">
      <h2 class="tm-block-title d-inline-block">Add Tables</h2>
    </div>
  </div>
  <div class="add-tables w-100">
    <form action="/restaurant/profile/update-tables" method="post">
      <div class="form-row align-items-center">
        <div class="col-auto">
          <label class="sr-only" for="inlineFormInput">Table Number</label>
          <input type="text" class="form-control mb-2" name="table_number" id="inlineFormInput" placeholder="TBL123">
        </div>
        <div class="col-auto">
          <label class="sr-only" for="inlineFormInputGroup">Chair</label>
          <div class="input-group mb-2">
            <input type="text" class="form-control" name="chair" id="inlineFormInputGroup" placeholder="Chair">
          </div>
        </div>
        <div class="col-auto">
          <label class="sr-only" for="inlineFormInputGroup">Table</label>
          <div class="input-group mb-2">
            <input type="text" class="form-control" name="table" id="inlineFormInputGroup" placeholder="Table">
          </div>
        </div>
        <div class="col-auto">
          <select class="form-control input-group mb-2 w-100" name="air_condition" aria-label="Default select example">
            <option selected>Select Type</option>
            <option value="AC">Ac</option>
            <option value="Non Ac">Non-Ac</option>
          </select>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </div>
      </div>
    </form>
  </div>
  <table class="table mt-3" id="myTable">
    <thead class="thead-dark">
      <tr>
        <th scope="col">No</th>
        <th scope="col">Table Number </th>
        <th scope="col">Chair </th>
        <th scope="col">Tables</th>
        <th scope="col">Ac/NonAc</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      {{#each tables}}
      <tr id="table{{this._id}}">
        <th scope="row">{{inc @index 1 }}</th>
        <td>{{this.table_number}}</td>
        <td>{{this.chair}}</td>
        <td>{{this.table}}</td>
        <td>{{this.air_conditioned}}</td>
        <td>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-danger d-flex justify-content-center align-items-center"
            style="height: 30px; width: 80px;" data-toggle="modal" data-target="#tableModal{{this._id}}"
            onclick="deleteTable('{{this._id}}')">
            Delete
          </button>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</section>
<script>
  $(document).ready(function () {
    $('#myTable').dataTable();
  });
  function deleteTable(tableId) {
    const div = document.getElementById("table" + tableId)
    new swal({
      text: "delete this table",
      icon: "warning",
      buttons: ["cancel", "confirm"]
    }).then((status) => {
      if (status) {
        fetch(`/restaurant/profile/delete-tables/${tableId}`, {
          method: "POST"
        }).then((res) => res.json()).then((response) => {
          if (response.status) {
            $("table" + tableId).modal('toggle')
            setTimeout(() => {
              div.remove()
            }, 500)
          } else {
            alert(response.message)
          }
        })
      }
    })
  }
</script> --}}

<section class="mt-5 pt-5 vh-100">
  HTML
  <div class="input-group mb-3">
    <span class="input-group-text">$</span>
    <span class="input-group-text">0.00</span>
    <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)" />
  </div>

  <div class="input-group">
    <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)" />
    <span class="input-group-text">$</span>
    <span class="input-group-text">0.00</span>
  </div>
</section>