<section>
    <form action="/update-product/{{restaurant._id}}" method="post" onsubmit="checkProductStatus(event)">
        <input type="text" value="{{restaurant._id}}" name="restaurantId" hidden>
        <div class="mt-5 pt-5 vh-100 ">
            {{#checkLength restaurant.menu 0}}
            <div class="row row-cols-2 row-cols-sm-2 row-cols-lg-3 g-3 vw-100" style="max-width: 100%;">
                {{#each restaurant.menu}}
                <div class="col-6">
                    <div class="card shadow-4">
                        <div class="card-body ">
                            <img src="{{this.product_image}}" class="col-12 col-sm-3 img-thumbnail" width="100"
                                alt="Hollywood Sign on The Hill" />
                            <span class="col-12 col-sm-9">
                                {{this.product_name}}.
                            </span>
                            <span class="col-12">
                                <div class="form-outline mt-3">
                                    <input id="{{this._id}}" name="{{this._id}}"
                                        onkeyup="validateFoodCount('{{this._id}}')"
                                        onchange="validateFoodCount('{{this._id}}')" value=0 type="number" id="form2"
                                        class="form-control" />
                                    <label id="label{{this._id}}" class="form-label " for="form2">Enter the quantity
                                        1-10</label>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>

        {{else}}
        <div class="col-12">
            <div class="alert alert-info" role="alert">
                <h4 class="alert-heading">Sorry</h4>
                <p>It's seems like restaurant doesn't have any products </p>
                <hr>

                <p class="mb-0">Contact restaurant through <br>email : {{restaurant.email}} <br> phone :
                    {{restaurant.phone}}
                </p>
            </div>
        </div>
    </form>
    {{/checkLength}}
</section>
<div id="buy_now" class="fixed-bottom" style="max-width: 100%;">
    <div class="card " style="bottom: 0;">
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <div class="d-flex flex-row align-items-center justify-content-center">
                    <button type="submit" class="btn btn-primary btn-rounded me-3">Select Tables</button>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .red-input:focus {
        border-color: red !important;
        box-shadow: inset 0 0 0 1px red !important;
        border-bottom: 1px solid red !important;
    }
</style>
<script>
    window.addEventListener("DOMContentLoaded", () => {
        window.addEventListener('scroll', function () {
            if (window.scrollY < (window.innerHeight / 4
            )) {
                document.getElementById('buy_now').classList.add("fixed-bottom");
                // add padding top to show content behind navbar
            } else {
                document.getElementById('buy_now').classList.remove('fixed-bottom');
                // remove padding top from body
            }
        });
    })
    function validateFoodCount(id) {
        const count = document.getElementById(id)
        const label = document.getElementById("label" + id)
        if (Number(count.value) > 10 || Number(count.value) < 0) {
            label.classList.add("text-danger")
            count.classList.add("text-danger")
            new swal({
                text: "Enter the count between 1 -10",
                icon: "info"
            });
            count.value = 0
        } else {
            label.classList.remove("text-danger")
            count.classList.remove("text-danger")
        }
    }
</script>