<main class="w-100">
    <section class="banner w-100 d-flex align-items-center justify-content-center">
        <form class="form-inline my-2 my-lg-0 w-75 shadow">
            <h6 class="col-12 text-white d-flex h4 justify-content-center">searching <span
                    class="text-warning">Restaurant?</span></h6>
            <input class="col-12 col-sm-9 form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="col-12 col-sm-2 ml-1 btn btn-success text-white my-2 my-sm-0" type="submit">Search</button>
        </form>
    </section>
    <style>
        .restaurant-image>img {
            width: 100%;
            border-radius: 10px;
        }

        .restauarnt-card-body {
            width: 100%;
            padding: 10px;
        }
    </style>
    {{!-- top restaurants --}}
    <section class="top-restaurants">
        <h4>Top Restaurants</h4>
        <div class="restaurant-cards">
            {{#each restaurants}}
            <div class="restaurant-card" style="">
                <div class="restaurant-image">
                    <img src="{{this.profile_pic.0.url}}" style="" alt="">
                </div>
                <div class="restauarnt-card-body">
                    <h6>{{this.restaurant_name}}</h6>
                    {{!-- <span><i class="fa-solid fa-star" style="color: rgb(207, 207, 0);"></i></span> --}}
                    {{!-- <h6><span>4</span>table<span> 2</span>chair</h6> --}}
                    <small>{{this.address}}</small>
                </div>
                <div class="restauarnt-card-body w-100">
                    <button onclick="addTowishlist('{{this._id}}')" type=" button"
                        class="w-100 btn btn-outline-warning text-dark">add to wishlist</button>
                    <a class="" href="restaurant-details/{{this._id}}" style="text-decoration: none; color: black;">
                        <button type=" button" class="w-100 btn btn-primary mt-2">show details</button>
                    </a>
                </div>
            </div>
            {{/each}}
        </div>
    </section>
    {{!-- end --}}
    <section class="restaurant-for-you">
        <h4>Restaurants near you</h4>
        {{!-- swiper --}}
        <div class="swiper mySwiper ">
            <div class="swiper-wrapper mb-1">
                {{#each restaurants}}
                <div class="swiper-slide slide_1 d-flex justify-content-center">
                    <a class="" href="restaurant-details/{{this.id}}" style="text-decoration: none; color: black;">
                        <div class="restaurant-card" style="">
                            <div class="restaurant-image">
                                <img src="{{this.profile_pic.0.url}}" style="" alt="">
                            </div>
                            <div class="restauarnt-card-body">
                                <h6>{{this.restaurant_name}}</h6>
                                {{!-- <span><i class="fa-solid fa-star" style="color: rgb(207, 207, 0);"></i></span>
                                --}}
                                {{!-- <h6><span>4</span>table<span> 2</span>chair</h6> --}}
                                <small>{{this.address}}</small>
                            </div>
                            <div class="restauarnt-card-body w-100">
                                <button type=" button" class="w-100 btn btn-outline-warning">add to wishlist</button>
                                <button type=" button" class="w-100 btn btn-primary mt-2">show details</button>
                            </div>
                        </div>
                    </a>
                </div>
                {{/each}}
            </div>
            <div class="swiper-button-next"><i class="fa-solid fa-angle-right"></i></div>
            <div class="swiper-button-prev"><i class="fa-solid fa-chevron-left"></i></div>
        </div>
        {{!-- end --}}
    </section>
</main>
{{!-- swiper cdn --}}
<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
{{!-- style sheet --}}
<link rel="stylesheet" href="/css/user/Home.css">
{{!-- swiper configuration --}}
<script>
    function addTowishlist(id) {
        const url = window.location.origin
        console.log(url);
        fetch(`${url}/add-to-wishlist/${id}`).then((res) => res.json()).then((response) => {
            alert(response.message)
        })
    }
</script>
<script>
    let swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        breakpoints: {
            0: {
                slidesPerView: 1
            },
            550: {
                slidesPerView: 2
            },
            800: {
                slidesPerView: 3
            },
            1050: {
                slidesPerView: 4
            },
            1280: {
                slidesPerView: 5
            }
        }
    });
</script>