<section>
    <form action="/check-out" method="post" style="height: 85vh;">

        <div id="product-selection" class="products" style="min-height: 80%;">
            <input type="text" value="{{restaurant._id}}" name="restaurantId" hidden>
            {{#each restaurant.menu}}
            <div class="food">
                <div class="card">
                    <div class="card-body d-flex align-items-center justify-content-between">
                        <img class="product-image" src="{{this.product_image}}" alt="">
                        <big>
                            {{this.product_name}}
                        </big>
                        <div class="food-count-section">
                            <div class="food-counter-button" onclick="decreaseCount('{{this.id}}',{{this.stock}})">
                                <i style="cursor: pointer;" class="fa-solid fa-minus"></i>
                            </div>
                            {{!-- <input type="text" value="{{this.name}}" hidden> --}}
                            <input type="number" id="{{this._id}}" name="{{this._id}}" hidden>
                            <div id="count{{this._id}}" class="food-count d-flex justify-content-around">0</div>
                            <div class="food-counter-button" onclick="increaseCount('{{this._id}}','{{this.stock}}')">
                                <i style="cursor: pointer;" class="fa-solid fa-plus"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- <div class="col-12 col-sm-5 col-md-4 card card-select" style="width: 18rem;" data-cardSelect>
                <div class="card-divider">
                    {{this.product_name}}
                </div>
                <img style="object-fit: contain;" height="300" src="{{this.product_image}}">
                <div class="card-section">
                    <h5>&dollar;{{this.price}}</h5>
                    <p>{{this.stock}}
                    </p>
                </div>
                <button class="button" data-cardSelectButton></button>
            </div> --}}
            {{/each}}
        </div>
        <div id="product-selection" class="row d-flex-column justify-content-center align-items-center"
            style="min-height: 20%;">
            <button type="submit" class="btn btn-primary p-2 m-2 w-100">check out</button>
        </div>
    </form>
</section>
<style>
    .products {
        display: grid;
        grid-template-columns: repeat(4, auto);
    }

    @media (max-width:1359px) {
        .products {
            grid-template-columns: repeat(3, auto);
        }
    }

    @media (max-width:1018px) {
        .products {
            grid-template-columns: repeat(2, auto);
        }
    }

    @media (max-width:727px) {
        .products {
            grid-template-columns: repeat(1, auto);
        }
    }

    .foods {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(2, auto);
    }

    .food {
        margin-left: 10px;
        margin-top: 10px;
    }

    .food-count {
        width: 50px;
    }

    .food-count-section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .food-counter-button {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: rgb(237, 237, 237);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }

    .food-counter-button:hover {
        background-color: rgb(189, 189, 189);
    }

    .product-image {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 10px;
    }

    .details>h5 {
        margin-bottom: 0;
    }

    .details>small {
        margin-top: 0;
        opacity: 0.5;
    }

    #services {
        display: grid;
        min-height: 300px;
        grid-template-columns: repeat(4, auto);
        padding: 30px;
        margin-top: 10px;
        background-color: rgba(242, 242, 242, 0.488);
    }

    @media (max-width:1200px) {
        #services {
            grid-template-columns: repeat(3, auto);
        }
    }

    @media (max-width:800px) {
        #services {
            grid-template-columns: repeat(2, auto);
        }
    }

    @media (max-width:560px) {
        #services {
            grid-template-columns: repeat(1, auto);
            justify-content: center;
            align-items: center;
        }
    }

    .service {
        width: 90%;
    }

    .mt-20 {
        margin-top: 100px;
    }

    .progress {
        height: 31px;
        margin-bottom: 10px;
    }


    .progress .skill {
        font: normal 12px "Open Sans Web";
        line-height: 32px;
        padding: 0;
        margin: 0 0 0 20px;
        text-transform: uppercase;
    }

    .progress .skill .val {
        float: right;
        font-style: normal;
        margin: 0 20px 0 0;
    }

    .progress-bar {
        text-align: left;
        transition-duration: 3s;
        background-color: orange;
    }

    .bsp_big-image {
        box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0);
        border-radius: 5px;
        margin-top: 0px;
    }

    .card-select {
        text-align: center;
        transition: all 0.5s ease;
    }

    .card-select .card-divider {
        background-color: #fefefe;
        letter-spacing: 1px;
        font-weight: 500;
        text-transform: uppercase;
        border: 1px solid #cacaca;
    }

    .card-select .button {
        padding: 1rem;
        background-color: #cacaca;
    }

    .card-select .button:after {
        content: 'Select';
    }

    .card-select .button:hover {
        background-color: #1779ba;
    }

    .card-select .button:focus {
        background-color: #1779ba;
    }

    .card-select.is-selected {
        border: 1px solid #1779ba;
        box-shadow: 0 0 10px #e6e6e6;
        transition: all 0.5s ease;
    }

    .card-select.is-selected .button {
        background-color: #1779ba;
    }

    .card-select.is-selected .button:after {
        content: 'Selected';
    }
</style>
<script>
    $('[data-cardSelectButton]').click(function () {
        $(this).parent('[data-cardSelect]').toggleClass('is-selected');
    });


</script>
<script>
    window.addEventListener('DOMContentLoaded',()=>{

    })
    function increaseCount(food_id, stock) {
        console.log(food_id, stock)
        if (Number(document.getElementById("count" + food_id).innerText) >= 0 && Number(document.getElementById("count" + food_id).innerText) <= stock) {

            document.getElementById(food_id).value=Number(document.getElementById("count" + food_id).innerText) + 1
            document.getElementById("count" + food_id).innerText = Number(document.getElementById("count" + food_id).innerText) + 1
        }
    }
    function decreaseCount(food_id, stock) {
        if (Number(document.getElementById("count" + food_id).innerText) > 0) {
            document.getElementById(food_id).value=Number(document.getElementById("count" + food_id).innerText) - 1
            document.getElementById("count" + food_id).innerText = Number(document.getElementById("count" + food_id).innerText) - 1
        }
    }
    function showImage(id) {
        let thump = document.getElementById(id).src;
        document.getElementById('big-image-preview').innerHTML = `<img src=${thump} id="big-image-preview" alt="">`
    }
</script>