<section class="py-5 mt-5" style="background-color: #eee;">
    <div class="container ">

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                            alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3"></h5>
                        <h5 class="my-3">{{userDetails.username}}</h5>
                        <p class="text-muted mb-1">{{userDetails.email}}</p>
                        <p class="text-muted mb-4">{{userDetails.phone}}</p>
                        <div class="d-flex justify-content-center mb-2">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-mdb-toggle="modal"
                                data-mdb-target="#staticBackdrop">
                                Edit profile
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="staticBackdrop" data-mdb-backdrop="static"
                                data-mdb-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Edit profile</h5>
                                            <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <form action="/update-profile/{{userId}}" method="post"
                                            onsubmit="validateEditProfile(event)">
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="card mb-4">
                                                            <div class="card-body text-center">
                                                                <img id="profile_image"
                                                                    src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                                                                    alt="avatar" class="rounded-circle img-fluid"
                                                                    style="width: 150px;">
                                                                <h5 id="userName" class="my-3">{{userDetails.username}}
                                                                </h5>
                                                                <p id="email" class="text-muted mb-1">
                                                                    {{userDetails.email}}
                                                                </p>
                                                                <p id="phone" class="text-muted mb-4">
                                                                    {{userDetails.phone}}
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="card mb-4">
                                                            <div class="card-body text-center">
                                                                <div class="mb-4" id="errorDiv">
                                                                    {{#if err}}
                                                                    <div class="alert alert-danger" role="alert"
                                                                        data-mdb-color="danger">
                                                                        <i class="fas fa-times-circle me-3"></i>{{err}}
                                                                    </div>
                                                                    {{/if}}
                                                                </div>

                                                                <div class="form-outline mb-3">
                                                                    <input type="file" value="" id="form12"
                                                                        class="form-control" />
                                                                </div>
                                                                <div class="form-outline mb-3">
                                                                    <input type="text" id="form12"
                                                                        class="form-control" />
                                                                    <label class="form-label" for="form12">Name</label>
                                                                </div>
                                                                <div class="form-outline mb-3">
                                                                    <input type="text" id="form12"
                                                                        class="form-control" />
                                                                    <label class="form-label" for="form12">Email</label>
                                                                </div>
                                                                <div class="form-outline mb-3">
                                                                    <input type="text" id="form12"
                                                                        class="form-control" />
                                                                    <label class="form-label" for="form12">Phone</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-mdb-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">

                <div class="row">
                    <div class="col-md-6">
                        <div class="card mb-4 mb-md-0">
                            <div class="card-body">
                                <div class="mapouter">
                                    <div class="gmap_canvas"><iframe width="770" height="510" id="gmap_canvas"
                                            src="https://maps.google.com/maps?q={{userDetails.location.coordinates}}&hl=es&z=14&amp;output=embed"
                                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                                        <style>
                                            .mapouter {
                                                position: relative;
                                                text-align: right;
                                                height: 275px;
                                                width: 100%;
                                            }
                                        </style>
                                        <style>
                                            .gmap_canvas {
                                                overflow: hidden;
                                                background: none !important;
                                                height: 100%;
                                                width: 100%;
                                            }
                                        </style>
                                    </div>
                                </div>
                                <button type="button" class="w-100 btn btn-primary mt-3" onclick="updateCurrentLocation('{{userId}}',()=>{
                                        getLocation()
                                    })">Update current location</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card mb-4 mb-md-0">
                            <div class="card-body">
                                <p class="mb-4"><span class="text-primary font-italic me-1">assigment</span> Project
                                    Status
                                </p>
                                <p class="mb-1" style="font-size: .77rem;">Web Design</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">Website Markup</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">One Page</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">Mobile Template</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">Backend API</p>
                                <div class="progress rounded mb-2" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function generateError(Text) {
        return ` <div class="alert alert-danger" role="alert" data-mdb-color="danger">
                    <i class="fas fa-times-circle me-3"></i>${Text}
                </div>`
    }
    const errorDiv = document.getElementById('errorDiv')
    const inputs = document.querySelectorAll('input')
    function validateEditProfile(e) {
        console.log(inputs)
        const regxName = /[a-zA-Z]+[a-zA-Z ]+[a-zA-Z]$/;
        if (!regxName.test(inputs[1].value)) {
            e.preventDefault()
            errorDiv.innerHTML = generateError("Enter name properly")
            return false
        }
        if (inputs[1].value?.length <= 0) {
            e.preventDefault()
            errorDiv.innerHTML = generateError("Please enter the name")
            return false
        }
        inputs[1].value = inputs[1].value.trim()
        e.preventDefault()
        return false
    }
    let userId
    function updateCurrentLocation(Id, cb) {
        userId = Id
        cb()

    }
    function getLocation() {
        new swal({
            text: "Update location",
            title: "are you sure",
            icon: "warning",
            buttons: ["No", "yes"]
        }).then((status) => {
            console.log(status)
            if (status) {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition, error, {
                        enableHighAccuracy: true,
                        maximumAge: 10000
                    });
                } else {
                    alert("Geolocation is not supported by this browser.");
                }
            }
        })
    }


    function showPosition(position) {
        fetch('/update-profile/location/' + userId + `?coordinates=${position.coords.latitude},${position.coords.longitude}`, { method: 'post' }).then((user) => {
            return user.json()
        }).then((data) => {
            if (data?.status) {
                const canvas = document.getElementById('gmap_canvas')
                const src = `https://maps.google.com/maps?q=${position.coords.latitude},${position.coords.longitude}&t=&z=15&ie=UTF8&iwloc=&output=embed`
                canvas.setAttribute('src', src)
                new swal({
                    title: "Updated",
                    text: "location updated successfully",
                    icon: "success"
                })
            }
        })
    }
    function error(err) {
        new swal({
            title: Error,
            text: "Please make sure that your location and internet service is on",
            icon: 'error'
        })
    }
</script>