<section class="container-fluid tables vw-100">
    <div class="vw-100 vh-100">
        <form action="/book-table" method="post">
            <div class="seats">
                {{#each tables}}
                <div class="seat">
                    <input type="checkbox" id="{{this._id}}" name="table_number" value="{{this.table_number}}"
                        onclick="changeColor('{{this._id}}')" hidden>
                    <label class="label" for="{{this._id}}" id="label{{this._id}}">
                        {{this.table_number}}
                    </label>
                </div>
                {{/each}}
            </div>
            <div class="w-100">
                <input type="submit" class="btn btn-primary">
            </div>
        </form>
    </div>
</section>
<script>
    function changeColor(id) {
        console.log(id)
        const label = document.getElementById("label" + id)
        if (label.style.backgroundColor === "blue") {
            label.style.backgroundColor = "rgb(240, 240, 240)"
            label.style.color = "black"
        } else {
            label.style.backgroundColor = "blue"
        }
    }
</script>
<style>
    .tables{
        min-width: 100%;
    }
    .seats {
        min-width: 100%;
        display: grid;
        grid-template-columns: repeat(5, auto);
    }

    .seat {
        width: max-content;
        height: 50px;
        background-color: rgb(240, 240, 240);
        background-color: rgba(11, 0, 63, 0.814);
        color: white;
        margin: 10px;
        border-radius: 5px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .seat>label {
        min-width: 100%;
        height: 50px;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    input[type=checkbox] {
        width: 100%;
        height: 100%;
    }

    input[type=checkbox]:focus .label {
        width: 100%;
        height: 100%;
        background-color: black;
    }
</style>