<section class="order-history" style="height: 85vh;width: 100%;">
    <div class="container-fluid my-5  d-flex  justify-content-center">
        <div class="card w-100">
            <div class="card-body ">
                <h4>home/wishlist</h4>
                {{#each wishlistData}}
                <div class="card">
                    <div class="card-body row">
                        <div class=" my-auto col-md-4 flex-column align-items-center justify-content-center">
                            <div class="sq align-self-center d-flex justify-content-center align-items-center">
                                <img style="border-radius: 6px;" class="img-fluid align-self-center"
                                    src="{{this.restaurant.profile_pic.0.url}}" width="135" height="135" />
                            </div>
                        </div>
                        <div class=" col-md-4 sq align-self-center d-flex justify-content-center align-items-center">
                            <p>{{this.restaurant.restaurant_name}}<br>{{this.restaurant.email}}
                                <br>PH : {{this.restaurant.phone}}
                            </p>
                        </div>
                        <div class="col-md-4 sq align-self-center d-flex justify-content-center align-items-center">
                            <a style="max-width: 200px;" href="restaurant-details/{{this.restaurant._id}}" class="col w-25 btn btn-primary">
                                show more
                            </a>
                            {{!-- <a href="whishlist/{{this._id}}/{{this.restaurant._id}}/remove" class="col-12"> --}}
                                <button style="max-width: 200px;" onclick="removeFromWishlist('{{this._id}}','{{this.restaurant._id}}')"
                                    type="button" class="ml-1 col btn btn-danger mt-1">remove</button>
                                {{!-- </a> --}}
                        </div>
                    </div>
                </div>
                <hr>
                {{/each}}
            </div>
        </div>
    </div>
</section>
{{!-- swiper cdn --}}
<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<link rel="stylesheet" href="/css/user/wishlist.css">
<script src="js/wishlist.js"></script>
<script>
    function removeFromWishlist(wishlistId, restaurantId) {
        new swal({
            text: "Remove restaurant from",
            icon: "warning",
            buttons: ['cancel', 'confirm']
        }).then((status) => {
            if (status) {
                fetch('/whishlist/' + wishlistId + '/' + restaurantId + '/remove').then(() => {
                    new swal({
                        text: "Restaurant removed from wishlist",
                        icon: "warning",
                    }).then((status) => {
                        location.reload()
                    })
                })
            }
        })

    }
</script>